AZURE_OPENAI_API_ENDPOINT=
AZURE_OPENAI_API_VERSION="2025-01-01-preview"
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_API_DEPLOYMENT="gpt-4o"
ASTRA_DB_API_ENDPOINT="https://****.apps.astra.datastax.com"
ASTRA_DB_APPLICATION_TOKEN="AstraCS:***:***"
ASTRA_DB_COLLECTION="keploy_docs"

GROQ_API_KEY="gsk_***"
NVIDIA_API_KEY="nvapi-***"